* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Young Serif', serif;
}

.container {
    padding: 50px;

}

.section-one {
    background-color: black;
    color: white;
    padding: 20px;
}

.section-one__contact {
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 10px;
}

.section-one__name {
    font-size: 50px;
    font-weight: bold;
}

.section-one__role {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}

.section-two,
.section-three,
.section-four,
.section-five {
    margin-top: 20px;
}

.section-two__title,
.section-three__title,
.section-four__title,
.section-five__title {
    margin-bottom: 10px;
}

.section-five {
    background-color: black;
    color: white;
    padding: 10px;
}

.section-five__title a {
    color: skyblue;
}

.section-three li,
.section-four li {
    list-style: none;
}

.section-three {
    background-color: #6462FD;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}

.section-four {
    background-color: #fe7517;
    display: inline-block;
    padding: 20px;
    margin-left: 5px;
    border-radius: 10px;
}

.contact-form {
    margin-top: 20px;
}

.contact-form__input,
.contact-form__textarea,
.contact-form__submit {
    margin-top: 10px;
}

.contact-form__input{

    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}

.contact-form__textarea{

    padding: 10px;
    border-bottom: solid black 1px;
}

.contact-form__submit {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: orangered;
    color: black;
    border: none;
}